.header{
    background-color: #e95464;
}
.login-wrap{
    background: #324157;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #e95464;
}
.el-upload--text em {
    color: #e95464;
}
.pure-button{
    background: #ffe302;
}
.tags-li.active {
    border: 1px solid #e95464;
    background-color: #e95464;
}
.message-title{
    color: #e95464;
}
.collapse-btn:hover{
    background: #ba0f20;
}